@font-face{
    font-family: 'Montserrat';
    src: url('../../vendors/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

*{
    padding: 0;
    margin: 0;
    /*background-color: #333;*/
}

body{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#wrapper {
    padding-left: 80px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

li.actparent{
    box-shadow:  200px 200px 20px rgba(0,0,0, .4) inset;
    color: white;
}
.tabpaneTitle{
    cursor:pointer;
    text-align: center;
    margin-bottom: 1rem;
}
tr.actparent{
    /*box-shadow:  200px 200px 20px rgba(0,0,0, .4) inset;*/
    /*background-color: rgba(0,0,0, 1);*/
    color: white;
}

.actparent div, .actparent td{
    color: white;
}

.editrow{
    max-height: 400px;
    overflow-y: auto;
}

.histmang{
    position:fixed;
    /*z-index: 1*/
}

#wrapper.toggled {
    padding-left: 250px;
}

#wrapper.toggled #prod .mang{
    width: 48.5%;
    /*z-index: -2;*/
}
#wrapper.toggled #rec .mang{
    width: 73.2%;
}
#wrapper.toggled #usr .mang{
    width: 32.3%;
}
#wrapper.toggled #cust .mang{
    width: 46.3%;
}

#rec .mang{
    width: 85.6%;
    position:fixed;
    background: white;
    padding-top: 30px;
}
#prod .mang{
    width: 57.3%;
    position:fixed;
    background: white;
    padding-top: 30px;
}
#cust .mang{
    width: 54.5%;
    position:fixed;
    background: white;
    padding-top: 30px;
}

#usr .mang{
    width: 38.5%;
    position:fixed;
    background: white;
    padding-top: 30px;
}

.text-bold{
    font-weight: 500;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}

.inputadjust{
    height: 30px !important;
    font-size: 12px !important;
}

.inputtext{
    font-size: 12px !important;
}
#error{
    opacity: 1
}
#sidebar {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 80px;
    height: 100%;
    margin-left: -250px;
    overflow: hidden;
    background: #333;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -o-transition: width 0.5s ease;
    transition: width 0.5s ease;
}

.bgcolor{
    color: #d71e98 !important;
}

.bgcolor_bg{
    background: #e930aa !important;
}

#wrapper.toggled #sidebar {
    width: 250px;
}

#prod .padd{
    margin-bottom: 26px !important;
    display: inline-block !important;
    width: 45%!important;
}

#updateProduct .padd{
    width: 100%!important;
    margin: 0 !important;
}

#main {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    /*position: absolute;
    padding: 15px;*/
}

#wrapper.toggled #main {
    position: absolute;
    margin-right: -250px;
}

#navmenu img{
    width: 55px;
    height: 42px;
}

.candCheck{
    vertical-align: middle;
}

#navmenu a{
    padding: 13px;
    text-decoration: none;
}

.editCand{
    opacity: 1
}
.active{
    pointer-events: none;
    cursor: not-allowed;
    background-color: #111;
}
.paneinfo{
    margin: 20px 0px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.deactivate{
    pointer-events: none;
    cursor: not-allowed;
}

#main img{
    width: 45px;
    height: 45px;
}
/*.usr{
position: relative
z-index: 100;
}*/
#main nav{
    background-color: #efefef;
    width: 100%;
    box-shadow:  3px 5px 10px #ccc;
    z-index: 2;
}

#navmenu span{
    font-weight: 500;
    font-size: 1.2rem;
    color: #efefef;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.toggleheight{
    height: 30px;
}

#wrapper.toggled #main {
    position: relative;
    margin-right: 0;
}

.trow{
    font-size: 13px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
    background:#ddd !important; 
    outline:none;
}

.tabdock{
    padding: 0px 50px 100px 50px;
    height: 100vh;
    overflow-y: scroll;
}

#prod .tabdock{
    width:70%;
}

#prod .history{
    width:30%;
}
#cust .tabdock{
    width:67%;
}

#cust .history{
    width:33%;
}
#tabs{
    /*position: absolute;*/
    width: 100%;
}
#tabs .tabdock{
    opacity: 1
}

#tabs .visible {
    opacity: 1;
    display:block;
}
#tabs .notvisible {
    opacity: 0;
    display:none;
}
.modal .notvisible {
    opacity: 0;
    display:none;
}

.list{
    text-decoration: none;
    list-style-type: none !important;
    width:100%;
    font-family: 'Montserrat', sans-serif;
    position: static;
    z-index: -2;
}

#prod .list{
    padding-top: 260px;
}
#cust .list{
    padding-top: 261px;
}
#usr .list{
    padding-top: 246.5px;
}
#rec .list{
    padding-top: 276px;
}
.chght{
    height: 10px;
}
.opac{
    opacity: 0 !important;
}
.chgpadd{
    padding-top: 210px !important;
}
.invtable{
    opacity: 1
}
.inventorybody .list{
    max-height: 300px;
    overflow-y:scroll;
    font-size: 12px !important;
    margin: auto 10px !important;
}
.list li{
    text-decoration: none;
    list-style-type: none !important;
    cursor:pointer;
}
#hacker-list{
    width: 100%; 
}

.div-pill{
    border-radius: 0px;
    border: none;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    cursor:default;
    /*padding: 0px 14px;*/
}

#usr .div-pill{
    border-radius: 0px;
    border: none;
    width:  50% !important;
    font-weight: 700;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
}
/* 
#prod .div-pill:nth-child(1){
    width:  20% !important;
}
#prod .div-pill:nth-child(2){
    width:  35% !important;
}
#prod .div-pill:nth-child(3){
    width:  10% !important;
}
#prod .div-pill:nth-child(4){
    width:  10% !important;
}
#prod .div-pill:nth-child(5){
    width:  10% !important;
}
#prod .div-pill:nth-child(6){
    width:  15% !important;
} */


.saleshd .div-pill:nth-child(1){
    width:  10% !important;
}
.saleshd .div-pill:nth-child(2){
    width:  15% !important;
}
.saleshd .div-pill:nth-child(3){
    width:  10% !important;
}
.saleshd .div-pill:nth-child(4){
    width:  9% !important;
}
.saleshd .div-pill:nth-child(5){
    width:  9% !important;
}
.saleshd .div-pill:nth-child(6){
    width:  15% !important;
}
.saleshd .div-pill:nth-child(7){
    width:  9% !important;
}
.saleshd .div-pill:nth-child(8){
    width:  10% !important;
}
.saleshd .div-pill:nth-child(9){
    width:  13% !important;
}


.stockhd .div-pill:nth-child(1){
    width:  10% !important;
}
.stockhd .div-pill:nth-child(2){
    width:  30% !important;
}
.stockhd .div-pill:nth-child(3){
    width:  10% !important;
}
.stockhd .div-pill:nth-child(4){
    width:  10% !important;
}
.stockhd .div-pill:nth-child(5){
    width:  10% !important;
}
.stockhd .div-pill:nth-child(6){
    width:  10% !important;
}
.stockhd .div-pill:nth-child(7){
    width:  20% !important;
}


#cust .div-pill:nth-child(1){
    width:  15% !important;
}
#cust .div-pill:nth-child(2){
    width:  10% !important;
}
#cust .div-pill:nth-child(3){
    width:  5% !important;
}
#cust .div-pill:nth-child(4){
    width:  15% !important;
}
#cust .div-pill:nth-child(5){
    width:  15% !important;
}
#cust .div-pill:nth-child(6){
    width:  20% !important;
}
#cust .div-pill:nth-child(7){
    width:  20% !important;
}


.invupdatehd .div-pill:nth-child(1){
    width:  10% !important;
}
.invupdatehd .div-pill:nth-child(2){
    width:  10% !important;
}
.invupdatehd .div-pill:nth-child(3){
    width:  10% !important;
}
.invupdatehd .div-pill:nth-child(4){
    width:  10% !important;
}
.invupdatehd .div-pill:nth-child(5){
    width:  10% !important;
}
.invupdatehd .div-pill:nth-child(6){
    width:  10% !important;
}
.invupdatehd .div-pill:nth-child(7){
    width:  10% !important;
}
.invupdatehd .div-pill:nth-child(8){
    width:  10% !important;
}
.invupdatehd .div-pill:nth-child(9){
    width:  10% !important;
}
.invupdatehd .div-pill:nth-child(10){
    width:  10% !important;
}

.btn-succ{
    opacity: 1
}

.btn-dang{
    background: #d9534f;
    color: white;
}

#usr .pro-item{
    color: #333;
    background: #F7E2E8;
    padding: 5px 14px;
}
#prod .pro-item{
    color: #333;
    background: #E8F7F9;
    padding: 5px 14px;
}
#cust .pro-item{
    color: #333;
    background: #D5EFDD;
    padding: 5px 14px;
}
#rec .pro-item{
    color: #333;
    background: #F9F6DE;
    padding:0px 14px;
}
#rec .pro-item .listrow{
    padding:5px 0px;
}
.search{
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    height: 40px;
    text-align:center;
    margin-top: 15px;
    width: 45%;
    border: 1.5px solid rgba(0,0,0,.4);
    /*background: #fde6d1;*/
    font-family: 'Montserrat', sans-serif;
}
.inpdate{
    border-radius: 20px;
    font-family:'Montserrat', sans-serif;
    outline: none;
    height: 40px;
    text-align:center;
    margin-top: 15px;
    width: 15%;
    border: 1.5px solid rgba(0,0,0,.4);
    /*background: #fde6d1;*/
    font-family: 'Montserrat', sans-serif;
}
.btn-pill{
    border-radius: 0px !important;
    font-family: 'Montserrat', sans-serif;
}
.inputtext{
    text-align: center !important;
    font-size: 17px !important;
}
.inputadjust{
    height: 35px !important;
    text-align: center;
    font-size: 17px !important;
}
.history{
    width:100%;
    height:100vh;
    bottom:0;
    position: relative;
    box-shadow:  5px -5px 20px rgba(0,0,0, .3) inset;
    overflow-y: auto;
}
#usr .history{
    background: #9E4659;
}
#prod .history{
    background: #1C6A82;
}
#cust .history{
    background: #25A54C;
}
.tabdockpane{
    padding: 50px 30px 100px;
    font-family: 'Montserrat', sans-serif;
}
.crudhd {
    margin-right:0 !important;
    margin-left:0 !important;
}
.disp{
    color:white;
    margin-bottom: 3rem;
}
/* .disp{
    display:none;
    overflow-x: hidden;
    margin-bottom: 3rem;
}
.nodisp{
    
} */
.tabdockpane h2,h3{
    color: white;
    font-weight: 700;
}
.tabdockpane th{
    color: white;
    font-size: 12px;
}
table h3{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.tdel{
    color: white;
    font-size: 12px;
    cursor: default;
}
.listrow{
    font-size:13px; 
    display:inline-block; 
    text-align:center;
    vertical-align: middle;
}
#ui-datepicker-div{
    margin-left: 18px;
}

.inventorybody .list .pro-item{
    margin: 14px auto!important;
}

.collapsein{
    display:none;
}

@media(max-width: 992px){
    #sidebar{
        width:80px;
    }
    #wrapper.toggled #sidebar {
        width:80px;
    }
    #wrapper.toggled {
        padding-left: 80px;
    }

}

@media(max-width: 578px){
    #dataToggler{
        margin-left: 30px;
    }
    #main{
        position:static;
        width:100%;
    }
    #wrapper.toggled #main {
        position:static;
        width:100%;
    }
    #sidebar {
        left: 0px;
        margin-left: 0px;
        width:100%;
        position:static;
        height: 65px;
    }
    #wrapper.toggled #sidebar {
        left: 0px;
        margin-left: 0px;
        width:100%;
        position:static;
        height: 65px;
    }
    #wrapper.toggled {
        padding-left: 0px;
        width:100%;
    }
    #wrapper {
        padding-left: 0px;
        width:100%;
    }
    /*
    #sidebar img{
    width: 55px;
    height: 40px;
}*/
}
/*
.row{
padding: 0;
margin: 0;
}*/
/*



#main {
background-color: #fff;
width: 83%;
height: 100vh;
}





@media(max-width: 1200px){
#sidebar .collapse.in {
display: none;
}

#dataToggler{
margin-left: 30%;
margin-right: 0;
display: block;
}

#sidebar img{
width: 100%;
height: 100%;
}
#navmenu a{
margin-left: -6px;
}
}
@media(max-width: 992px){
#sidebar{
width:80px;
}
}
@media(max-width: 578px){
#dataToggler{
margin-left: 30px;
display: none;
}
#sidebar{
width:100%;
height: auto;
}
#main{
width:100%;
}
#sidebar img{
width: 55px;
height: 40px;
}
}*/
